{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'garagem.css' %}">
    <title>Garagem</title>
</head>
<body>
    <div class="grade">
        <div class="caixa">Nenhum progresso encontrado</div>
    </div>

    <h1 class="garagem">GARAGEM</h1>

    <header>
        <div class="titulo"><h1>MONTADINHAS DESIGN</h1></div>

        <div class="menu">
            <ul>
                <li><a href="{% url 'start' %}">Modificar moto</a></li>
                <li><a href="{% url 'escolherMoto' %}">Escolher moto</a></li>
                <li><a href="{% url 'sobre' %}">Sobre</a></li>
            </ul>

        </div>
    </header>
</body>
</html>