{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'garagem.css' %}">
    <title>Garagem</title>
</head>
<body>
    <div class="grade">
        <ul class="caixa">
        {%for m in motos%}
            <li><a href="/app/start/{{m.id}}">{{m.titulo}}</a></li>
        {%endfor%}
        </ul>
        <div class="caixa">
          <a href="/app/novo">  crie um projeto</a>
        </div>
    </div>

    <h1 class="garagem">GARAGEM</h1>

    <header>
        <div class="titulo"><h1>MONTADINHAS DESIGN</h1></div>

        <div class="menu">
            <ul>
                <li><a href="#">Modificar moto</a></li>
                <li><a href="#">Escolher moto</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="{%url 'sair' %}">Sair</a></li>
            </ul>

        </div>
    </header>
</body>
</html>