{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'sobre.css' %}">
</head>
<body>
    <h1>Sobre a Montadinhas Design</h1>
    <p>
        Montadinhas Design é um software de personalização de motos, onde o mesmo disponibiliza
        <br> imagens de alta qualidade com diversos modelos de motos e 
        <br>peças que serão utilizadas para as personalizações. Através deste 
        <br>sistema os usuários poderão visualizar um modelo de moto parecida com a sua ou 
        <br> a que ele almeja em ter e poderá modificá-la da forma que o convém, 
        <br>seja um projeto novo para que ele possa ver como ficará antes de implementar 
        <br> na realidade, seja para fazer uma foto da sua moto igual a realidade.
        <br> Além disso, seu progresso ficará salvo, onde todas as motos 
        <br>que ele fizer, mesmo após de ter salvado ele poderá modificar 
        <br> posteriormente quando quiser, de onde parou. O usuário poderá criar quantas motos desejar.

    </p>
</body>
</html>